# Sample Superstore Dataset EDA

In [141]:
# install packages
# python <=3.11
# !pip install ydata-profiling

In [142]:
import pandas as pd
from ydata_profiling import ProfileReport

In [143]:
df = pd.read_csv('SampleSuperstore.csv')
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [144]:
df['City'] = df['City'].astype('category')

In [145]:
# create data profile report
# profile = ProfileReport(df,title='Sample Superstore Data Profile')
# profile

In [146]:
# export data profile report as html
profile.to_file('Sample Superstore Data Profile1.html')

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [147]:
# data cleaning
# check orig count
df['Segment'].count()

9994

In [148]:
# after deleting duplicates
df = df.drop_duplicates()
df.count()

Ship Mode       9977
Segment         9977
Country         9977
City            9977
State           9977
Postal Code     9977
Region          9977
Category        9977
Sub-Category    9977
Sales           9977
Quantity        9977
Discount        9977
Profit          9977
dtype: int64

In [ ]:
ProfileReport(df,title='Sample Superstore Data Profile').to_file('nodups.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
# data prep and eda
# df.head()
# df.head(3)
# df.tail()
df.tail(2)

In [ ]:
# export df as csv
df.to_csv('nodupes.csv',index=True)

In [ ]:
# display df info
df.info()

In [ ]:
# description
df.describe()

In [ ]:
df['Sales'].describe()

In [ ]:
df[['Sales','Profit']].describe()

In [ ]:
# check nulls in a column
segmentnulls = df['Segment'].isnull().sum()
citynulls = df['City'].isnull().sum()
profitnulls = df['Profit'].isnull().sum()

f"Nulls in segment: {segmentnulls} | Nulls in city: {citynulls} | Nulls in profits: {profitnulls}"

In [ ]:
# filtering
df[['Region','Sales','Profit']]

In [ ]:
dfSouthRegion = df[df['Region']=='South']
dfSouthRegion[['Region','Sales']]

## some graphs

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# univariate graph
# sales histogram