# Sample MySQL Connection Demo

In [4]:
# sample pythonn script
# x = 23
# y = 20
# x+y

In [1]:
# run cmd
# !pip list

In [2]:
# !dir

In [7]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\core360\appdata\local\programs\python\python312\lib\site-packages (1.1.0)

In [17]:
# 10.241.42.218, eygds, eyadmin, 123
import pymysql

try:
    h = '10.241.42.218'
    u = 'eyadmin'
    p = '123'
    d = 'eygds'
    connection = pymysql.connect(host=h,user=u,password=p,database=d)
    
    cursor = connection.cursor()
    sql = "select * from employees"
    cursor.execute(sql)
    
    records = cursor.fetchall()
except Exception as e:
    
    e
finally:
    cursor.close()
    connection.close()

# show records
records

((1, 'john', 'cena', 'hr', 2010),
 (2, 'aston', 'martin', 'mis', 2025),
 (3, 'leon', 'guerero', 'hr', 2010),
 (4, 'leona', 'guerero', 'hr', 2010),
 (5, 'kathryn', 'bernardo', 'mis', 2009))