List (mutable / editable)

In [45]:
# create a list using square brackets
a = ['apple','banana','cherry']
a
# type(a)

['apple', 'banana', 'cherry']

In [2]:
a[1]

'banana'

In [3]:
# add item
a.append('durian')
a

['apple', 'banana', 'cherry', 'durian']

In [5]:
# remove item
a.remove('apple')
a

['banana', 'cherry', 'durian']

In [8]:
# remove last item
a = ['apple','banana','cherry']
a.pop()
a

['apple', 'banana']

In [9]:
# remove item by position
a = ['apple','banana','cherry']
a.pop(1)
a

['apple', 'cherry']

In [11]:
a = [12,23,43,56,768,98]
a.remove(max(a))
a

[12, 23, 43, 56, 98]

In [14]:
a = [12,23,43,56,768,98]
print('number of items in the list: %i'  %(len(a)))

number of items in the list: 6

In [16]:
a = [12,23,43,56,768,98]
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
# find the index position
a = [12,23,43,56,768,98]
a.index(23)

1

In [22]:
# adding more than 1 item
a = [12,23,43,56,768,98]
b = [100,101]
c = a + b
c

[12, 23, 43, 56, 768, 98, 100, 101]

In [25]:
# insert an item in index
a = [12,23,43,56,768,98]
a.insert(2,5)
a

[12, 23, 5, 43, 56, 768, 98]

In [27]:
# update based on position
a = [12,23,43,56,768,98]
toupdate = int(input('enter value to update:'))
newnumber = int(input('enter new value:'))

a.insert(a.index(toupdate),newnumber)
a.remove(toupdate)
a

enter value to update:768
enter new value:76

[12, 23, 43, 56, 76, 98]

In [28]:
# perform action each item
a = [12,23,43,56,768,98]

for n in a:
    print('item:' + str(n))

item:12
item:23
item:43
item:56
item:768
item:98

In [29]:
# perform action each item
# add numbering, each item multiplied by 100
a = [12,23,43,56,768,98]
counting = 1
for n in a:
    print('item %i: %i' %(counting,n*100))
    # counting = counting + 1
    counting += 1

item 1: 1200
item 2: 2300
item 3: 4300
item 4: 5600
item 5: 76800
item 6: 9800

In [35]:
# perform action each item
# double each item
a = [12,23,43,56,768,98]
b = []
for n in a:
    b.append(n*2)

a = b
a

[24, 46, 86, 112, 1536, 196]

In [41]:
a = [12,23,43,56,768,98]
indextoupdate = int(input("enter number to update:"))
a[a.index(indextoupdate)]=400
a

enter number to update:12

[400, 23, 43, 56, 768, 98]

Tuples (immutable / not editable)

In [46]:
# create a tuple
a = (12,23,43,56,768,98)
a
# type(a)

(12, 23, 43, 56, 768, 98)

In [47]:
a[0]

12

In [48]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [49]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [52]:
len(a)

6

In [53]:
a.index(12)

0

In [54]:
# count the number of occurence of an item
a = (12,23,43,12,768,98,12)
a.count(12)

3

In [61]:
a = (12,23,43,12,768,98,12)
a = list(a)
# type(a)
a.append(1200)
a = tuple(a)
a

(12, 23, 43, 12, 768, 98, 12, 1200)

In [62]:
for n in a:
    print(n)

12
23
43
12
768
98
12
1200

In [69]:
a = (12,23,43,768,98,50,75,679,45,999,124)
b = []
# get all values less than 50, multiply it by 3 and put it in a separate tuple
# if number is greater than 50 multiply by 100
# if number is equal to 50 keep value

for n in a:
    if n < 50:
        b.append(n*3)
    elif n > 50:
        b.append(n * 100)
    else:
        b.append(n)

b = tuple(b)
# type(b)
b

(36, 69, 129, 76800, 9800, 50, 7500, 67900, 135, 99900, 12400)

Dictionaries (mutable / editable / key-value)

In [72]:
# create a dictionary
di = {"id":1,"firstname":"jane","lastname":"cruz","gender":"female"}

#type(di)
di

{'id': 1, 'firstname': 'jane', 'lastname': 'cruz', 'gender': 'female'}

In [74]:
di["firstname"]

'jane'

In [75]:
dir(di)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [76]:
di.get('gender')

'female'

In [79]:
di['firstname'] = "john"
di['gender'] = "male"

di

{'id': 1, 'firstname': 'john', 'lastname': 'cruz', 'gender': 'male'}

In [78]:
len(di)

4

In [80]:
# add key-value
di['city'] = 'Laguna'
di

{'id': 1,
 'firstname': 'john',
 'lastname': 'cruz',
 'gender': 'male',
 'city': 'Laguna'}

In [81]:
# add key-value
di['cty'] = 'Manila'
di

{'id': 1,
 'firstname': 'john',
 'lastname': 'cruz',
 'gender': 'male',
 'city': 'Laguna',
 'cty': 'Manila'}

In [82]:
di.pop('cty')
di

{'id': 1,
 'firstname': 'john',
 'lastname': 'cruz',
 'gender': 'male',
 'city': 'Laguna'}

In [84]:
# deletes last item
di.popitem()
di

{'id': 1, 'firstname': 'john', 'lastname': 'cruz', 'gender': 'male'}

In [87]:
# get all keys and place it in list
li = []

for n in di:
    # print(n)
    li.append(n)

li

['id', 'firstname', 'lastname', 'gender']

In [88]:
# display all keys
di.keys()

dict_keys(['id', 'firstname', 'lastname', 'gender'])

In [89]:
# display all items
di.items()

dict_items([('id', 1), ('firstname', 'john'), ('lastname', 'cruz'), ('gender', 'male')])

In [90]:
# display all values
di.values()

dict_values([1, 'john', 'cruz', 'male'])

In [92]:
# transfer all values into a list
v = []
for n in di.values():
    v.append(n)

v

[1, 'john', 'cruz', 'male']

Sets (unordered, no assign , allow add/update)

In [95]:
# create a set
se = {'apple','banana','cherry'}
# type(se)
se

{'apple', 'banana', 'cherry'}

In [96]:
# loop over the set
for n in se:
    print(n.capitalize())

Apple
Banana
Cherry

In [98]:
se[0] = 'Orange'

TypeError: 'set' object does not support item assignment

In [99]:
dir(se)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [102]:
# adding item
se.add('durian')
se

{'apple', 'banana', 'cherry', 'durian'}

In [105]:
# update (add multiple items)
a = ['grapes','orange']
se.update(a)
se

{'apple', 'banana', 'cherry', 'durian', 'grapes', 'orange'}

In [106]:
# remove items
se.discard('cherry')
se

{'apple', 'banana', 'durian', 'grapes', 'orange'}